.chatHeader {
  position: fixed;

  display: flex;
  align-items: center;

  width: 100%;
  padding: 20px 15px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(249, 249, 249, 1);
}

.userPhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    margin-right: 20px;
}

.userPhotoWithOpacity {
  @extend .userPhoto;
  opacity: 0;
}

.name {
  font-size: 24px;
  font-weight: 500;
}
