.chat {
  display: flex;
  flex-direction: column;

  width: 70%;
  height: 100vh;

  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.chatHistory {
  overflow: auto;
  padding: 120px 10px 130px 10px;
}
