.menuHeader {
  position: fixed;
  display: flex;
  flex-direction: column;

  width: calc(35% - 32px);

  padding: 10px 10px 20px 10px;

  background-color: rgba(249, 249, 249, 1);

  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.inputLabel {
  position: relative;
}

.menuUserBtn {
  align-self: flex-start;

  margin-bottom: 25px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.menuUserBtn:focus{
  border: none;
}

.menuUserIcon {
  width: 50px;
}

.menuLoupIcon {
  position: absolute;
  top: 7px;
  left: 16px;
}

.menuInput {
  width: 100%;

  padding: 8px 0 8px 50px;

  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  &:focus {
    outline: 1px solid rgba(0, 0, 0, 0.25);
  }
}

.closeBtn {
  position: absolute;
  top: 3px;
  right: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:active .closeIcon {
    width: 20px;

    position: absolute;
    top: 6px;
    right: 8px;
  }
}

.closeIcon {
  width: 30px;

  opacity: 0.4;
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 18%;
}

.profileImage {
  margin-bottom: 30px;
}

.firstSpan {
  display: flex;
  width: 100%;

  margin-bottom: 20px;
}

.secondSpan {
  margin-right: 10px;

  font-weight: 500;
}
